.DS_Store
.config/ThingM
.config/UDP\ Software
.config/beets/state.pickle
.config/configstore
.config/filezilla
.config/gtk-2.0
.config/karabiner
.htoprc
.vim/.netrwhist
.vim/backup
.vim/doc/tags
.vim/swaps
fish_history
fishd.*
*.sw*
