[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule ".vim/bundle/closetag.vim"]
	path = .vim/bundle/closetag.vim
	url = git@github.com:vim-scripts/closetag.vim.git
