[user]
    name = Cole Thompson
    email = cole.thompson@gmail.com
[core]
    # TODO gvim if ui available
    editor = vim -f

[color]
    ui = auto
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[apply]
    whitespace = nowarn

[push]
    default = simple

[alias]
    aa = add --all
    st = status
    stat = status
    co = checkout
    br = branch
    com = commit
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %C(green)(%cr, %cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=short
    dfls = diff --name-only
    graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
    pullall = !git pull && git submodule update
    shove = push --set-upstream origin HEAD
    panic = !bash ~/scripts/prompt git PANIC && git reset -- . && git checkout -- .

[diff]
    tool = vim-wrapper-script
    algorithm = patience

[difftool "vim-wrapper-script"]
    cmd = ~/scripts/git_vimdiff_wrapper.sh $LOCAL $REMOTE

[difftool]
    prompt = false

