set show-all-if-ambiguous on
set completion-ignore-case on
set completion-prefix-display-length 2
set bell-style off
set mark-symlinked-directories on

Control-j: menu-complete
#Control-k: menu-complete-backward

